<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Order Detail</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>{{currentProduct.Name}}</h2>
        <p><strong>Price: </strong>{{currentProduct.Price}}</p>
      </div>

      <div class="item item-image">
        <img src="cover.jpg">
      </div>

      <label class="item item-input">
        <input type="number" placeholder="Quantity" min="1" ng-model="quantity">
      </label>

      <div class="row">
        <div class="col text-right">
          <button class="button button-assertive " ng-click="addProduct(currentProduct,quantity)">Add to Cart</button>
        </div>

      </div>


    </div>
  </ion-content>
</ion-modal-view>
